# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=https://ecommerce-final-proyect.onrender.com
# postgres://gitpod:postgres@localhost:5432/example
BDD=database_ecommerce_rwfn
DB_USER=pablo
DB_PASSWORD=sJf2NxxWC6UDMaohiXe6ddKRPiQQFMRI
DB_HOST=dpg-cplgmgn109ks73dshak0-a.frankfurt-postgres.render.com
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/
#BACKEND_URL=
